.becomeMenu {
    position: absolute;
    top: 8%;
    left: 32%;
    height: 42%;
    width: 30%;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(to right, rgba(12,17,39,0), rgba(12, 17,39,1));
    opacity: 0.68;
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    color: ghostwhite;
}
.becomeMenu2{
    position: absolute;
    top: 49.9%;
    left: 32%;
    height: 42%;
    width: 30%;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(to right, rgba(12,17,39,0), rgba(12, 17,39,1));
    opacity: 0.68;
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    color: ghostwhite;
}
.begin{
    text-align: center;
    position:relative;
    margin-bottom: 10px;
	border: none;	
	font-family: fantasy;
	border-radius: 20px;
	text-align: center;	
	background-color: ghostwhite;
	opacity: .5;	
	color: black;	
	height:45px;
	top:62%;
    left:2%;
}

.signup{
    text-align: center;
    position:relative;
    margin-bottom: 10px;
    border: none;   
    font-family: fantasy;
    border-radius: 20px;
    text-align: center; 
    background-color: floralwhite;
    opacity: .5;    
    color: black;   
    height:45px;
    top:64%;
    left:2%;
}
input {
    border: 10px solid #00FFAA;
    position: absolute;
    line-height: 50px;
    text-align: right;
    padding: 0 1.2em;
    background: #444;
    cursor: pointer;
    display: block;
    outline: none;
    /* height: 80px; */
    width: 80%;
    top: 260px;
    margin: 0;
    left: 10%;
}